.atas{
    background-color:skyblue;
}
.kiri{
    height: 0px;
    text-align: left;
    float: left;
}
.Main{
    width: 85%;
    float: right;
    margin-top: 1px;
}
.foto{
    width: 30%;
    margin-top: 20px;
}
.foter {
    background-color: orange;
    width: 100%;
    float: left;
}
.tulisan{
    width: 100%;
    text-align: center;
}
